@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
        

    justify-items: center;
    background-color: #2700c1;
}
header {
    text-align: center;
    margin: 0;
    background: rgb(39,0,193);
background: linear-gradient(0deg, rgba(39,0,193,1) 0%, rgba(0,0,0,0.4963235294117647) 100%);
}

header a {
    font-family: 'poppins';
    color: aliceblue;
    font-size: 35px;
}

header h1{
    font-size: 50px;
    font-family: "Anton", sans-serif;
    color: aliceblue;
}


.container {
    z-index: 1;
    opacity: 1;
    position: relative;
    margin-top: 10px;
    justify-items: center;
    margin-left: 200px;
    padding: 20px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    width: 1000px;
    height: 500px;
    background-color: rgb(255, 0, 0);
}

.inputs {
    position: absolute;
    display: flex;
    flex-direction: column;
}

#poligno_name {
    
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    text-align: center;
    height: 50px;
    width: 500px;
    border-radius: 10px;
    margin-top: 100px;
    position: relative;
   
    
}
#poligno_value {
    opacity: 0;
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    text-align: center;
    height: 50px;
    width: 500px;
    border-radius: 10px;
    margin-bottom: -55px;
    position: relative;
    top: 100%;
    
}

#medida_alt {
    opacity: 0;
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    text-align: center;
    height: 50px;
    width: 500px;
    border-radius: 10px;
    margin-bottom: -55px;
    position: relative;
    top: 100%;
}

#btn {
    font-family: "Poppins", sans-serif;
    font-style: oblique;
    font-size: 30px;
    margin-left: 525px;
    cursor: pointer;
    border-radius: 10px;
    height: 50px;
    width: 50px;
    margin-bottom: 400px;
}

#icon {
    background-color: rgb(255, 187, 0);
    color: aliceblue;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    width: 75px;
    height: 75px;
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
    margin-right: 1000px;
    
    
    
}



#iconc {
    background-color: rgb(255, 25, 0);
    color: aliceblue;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    width: 75px;
    height: 75px;
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
    margin-right: 1000px;
    
    
    
}
.input_names {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 500px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 20px;
    position: relative; /* Add this line */
    top: -50px; /* Add this line */
}

#n_p, #n_s, #solid {
    
    margin-top: -300px;
    text-align: center;
    color: aliceblue;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
}

#n_p {
    width: 400px;
    margin-right: 260px;
}

#n_s {
    margin-left: 260px;
}

#solid {
   
}


#heron {
    margin-top: 20px;
    top: 100%;
    position: relative;
    opacity: 1;
    justify-items: center;
    margin-left: 200px;
    padding: 20px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    width: 1000px;
    height: 500px;
    background-color: rgb(255, 187, 0);
}


#heron h1 {
    margin-top: 30px;
    text-align: center;
    font-family: 'Poppins';
    font-size: 50px;

}
#heron h3 {
    font-family: 'Poppins';
    font-size: 50px;

}
#formulua_vlm {
    color: aliceblue;
    font-family: "Poppins", sans-serif;
    font-size: 35px;

}

#formulua_area {
    color: aliceblue;
    font-family: "Poppins", sans-serif;
    font-size: 35px;

}


footer{
    height: 100px;
    text-align: center;
    background: rgb(0,0,0);
background: linear-gradient(0deg, rgba(0,0,0,0.4963235294117647) 0%, rgba(39,0,193,1) 100%);
}
footer p {
    margin-right: 100px;
    margin-top: 100px;
    font-family: "Poppins", sans-serif;

    color: aliceblue;
}

footer img {
    margin-right: 100px;
    width: 110px;
    margin-left: 550px;
    margin-top: -100px;
}



